body {
/*	background-color: ;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
*/
}


h1 {
}

pre-color {
color: #800000;
}

code {
	color: red;
}


hash {
color: green;
}

/*<css_selector> {
/*	<css_property> :  <value_to_the_property>; 
/* }